<nav>
  <div class="menu">
    <div class="logo">
      <a [routerLink]="['/']">Fullstack App</a>
    </div>
    <ul>
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/about-us']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >About Us</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/auth/login']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Login</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/auth/register']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Register</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
