<div>
  <!-- Header -->
  <mat-toolbar>
    <span>My Fullstack Application</span>
    <span class="header-spacer"></span>
    <span
      class="header-menu-item"
      [routerLink]="['/']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="router-link-active"
      >Home</span
    >
    <span
      class="header-menu-item"
      [routerLink]="['/about-us']"
      routerLinkActive="router-link-active"
      >About Us</span
    >
    <span
      class="header-menu-item"
      [routerLink]="['/auth/login']"
      routerLinkActive="router-link-active"
      >Login</span
    >
    <span
      class="header-menu-item"
      [routerLink]="['/auth/register']"
      routerLinkActive="router-link-active"
      >Register</span
    >
  </mat-toolbar>

  <div class="page-content">
    <router-outlet />
  </div>
</div>
